name: build
on:
  push:
    branches:
      - "main"
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  buildifier:
    uses: ./.github/workflows/buildifier.yml
  bazel:
    strategy:
      fail-fast: false
      matrix:
        bazel_version:
          - 6.5.0
          - 7.4.0
          - 8.0.0
          - 9.0.0
        compilation-mode: [dbg, fastbuild, opt]
        target:
          - macos-latest
          - macos-14
        bzlmod:
          - enable_bzlmod
          - noenable_bzlmod 
    runs-on: ${{ matrix.target }}
    needs: [buildifier]
    env:
      USE_BAZEL_VERSION: ${{ matrix.bazel_version }}
    name: ${{ matrix.bazel_version }}/${{ matrix.target }}/${{ matrix.compilation-mode }}/${{ matrix.bzlmod }}
    steps:
      - name: Setup bazel
        uses: bazel-contrib/setup-bazel@0.15.0
        with:
          bazelisk-cache: true
          disk-cache: ${{ github.workflow }}-${{ matrix.target }}-${{ matrix.compilation-mode }}-${{ matrix.bzlmod }}
          bazelisk-version: 1.27.0

      - name: Checkout code
        uses: actions/checkout@v5

      - name: Build with Bazel
        run: |
          bzlmod_flags="--${{ matrix.bzlmod }}"
          if [ "${{ matrix.bazel_version }}" == "8.0.0" ]; then
            if [ "${{ matrix.bzlmod }}" == "noenable_bzlmod" ]; then
              bzlmod_flags="${bzlmod_flags} --enable_workspace --repositories_without_autoloads=cc_compatibility_proxy"
            fi
          fi
          bazel build --config=buildbuddy \
            -c ${{ matrix.compilation-mode }} \
            ${bzlmod_flags} \
            --remote_header=x-buildbuddy-api-key="${{ secrets.BUILDBUDDY_API_KEY }}" \
            ...
